<div class="po-wrapper-menu-panel">
    <po-menu-panel 
    [p-menus]="menus" 
    p-logo="https://po-ui.io/assets/po-logos/po_color_bg.svg"/>

    <po-page-default 
    [p-title]="title"
    [p-actions]="actions">
        <router-outlet></router-outlet>
    </po-page-default>
</div>

<po-page-slide #slideCart p-title="Carrinho" p-size="sm">
    <div class="po-row">
        <po-info class="po-sm-8" p-label="Valor" [p-value]="this.valueCart.toLocaleString('pt-BR',{style: 'currency', currency: 'BRL'})"/>
        <po-button class="po-sm-4" p-label="Confirmar" (p-click)="clickConfirmCart()" p-kind="primary" />
    </div>
    <po-divider p-label="ITENS" />
</po-page-slide>
