<div class="po-wrapper">
    <po-toolbar [p-title]="customerSelected.nome" [p-actions]="actions" p-actions-icon="ph ph-shopping-bag"/>
    <po-menu
    p-short-logo="crm128.png"
    [p-menus]="menus" 
    [p-collapsed]="true"
    [p-automatic-toggle]="false"
    >
    <div *p-menu-header-template>
        <img src="crm128.png" id="logo" style="margin-left: 20%;"/>
        <p class="po-p-1 po-font-title">{{profile.name}}</p>
        <p class="po-p-1 po-font-subtitle">{{profile.coduser}}</p>
    </div>
</po-menu>
<!--
    <po-page-default 
    [p-title]="customerSelected.nome"
    [p-actions]="actions">
        <router-outlet></router-outlet>
    </po-page-default>
-->
    <router-outlet />
</div>

<po-page-slide #slideCart p-title="Carrinho" p-size="sm" style="position: relative;">
    <po-loading-overlay [hidden]="hiddenOverlayCart" p-text="Aguarde" [p-screen-lock]="false"/>

    <div class="po-row">
        @if(this.cart.codigo){
            <po-info class="po-sm-12" p-label="Codigo" [p-value]="this.cart.codigo"/>
        }
        <po-info class="po-sm-8" p-label="Valor" [p-value]="this.valueCart.toLocaleString('pt-BR',{style: 'currency', currency: 'BRL'})"/>
        <po-button class="po-sm-4" p-label="Confirmar" (p-click)="clickConfirmCart()" p-kind="primary" />
    </div>
    <po-divider p-label="ITENS" />
    
    @for(li of cart.itens; track li) {
        @if(li.ativo){
            <div class="po-row">
                <po-info [p-orientation]="orientation" class="po-sm-11" p-label="Item" [p-value]="li.id.toString()" />
                <i class="po-sm-1 po-icon po-icon-delete" (click)="clickDellItem(li)"></i> 
                <po-info  class="po-sm-12"  [p-value]="li.item.nome" />
                <po-info [p-orientation]="orientation" class="po-sm-12" p-label="Quantidade" [p-value]="li.item.quantidade.toString()" />
                <po-info [p-orientation]="orientation" class="po-sm-12" p-label="Preco" [p-value]="li.item.preco.toLocaleString('pt-BR', {style:'currency', currency:'BRL'})" />
                <po-info [p-orientation]="orientation" class="po-sm-12" p-label="Valor" [p-value]="(li.item.quantidade * li.item.preco).toLocaleString('pt-BR',{style:'currency', currency: 'BRL'})" />
            </div>
            <po-divider/>
        }
    }

</po-page-slide>

<po-modal #modalCustomer p-title="Select a Customer">
    <div class="po-row">
        <po-combo #comboCustomer
            class="po-md-12"
            name="comboCustomer"
            p-placeholder="Select a Customer"
            [p-filter-service]="urlfiltercustomer"
            p-field-label="nome"
            p-field-value="codigo"
        ></po-combo>
    </div>

    <po-modal-footer>
        <po-button p-label="Confirmar" p-kind="primary" (p-click)="confirmModal()" />
    </po-modal-footer>
</po-modal>
